// МИКСИНЫ =====================================================================================
@mixin flexbox() {display: flex; font-size: 0;}
// ПОДКЛЮЧЕНИЕ ШРИФТОВ =========================================================================

// ШРИФТ ПО УМОЛЧАНИЮ ==========================================================================
$fontFamily:"";
// ПЕРЕМЕННЫЕ ДЛЯ АДАПТИВА =====================================================================
$mw:1170;
$md1:$mw+12;
$md2:993; //992.98
$md3:768; //767.98
$md4:480; //479.98
$minWidth:320px;
// ОБНУЛЕНИЕ CSS ДЛЯ ВСЕХ БРАУЗЕРОВ ============================================================
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{box-sizing: border-box;} 
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minWidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontFamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: $fontFamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
// ОБОЛОЧКА - .WRAPPER =========================================================================
.wrapper{
	// width: 100%;
	// min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
// КОНТЭЙНЕР - .CONTAINER ======================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	// @media (max-width:$md1+px){max-width: 970px;}
	// @media (max-width:$md2+px){max-width: 870px;}
	// @media (max-width:$md3+px){max-width: none;padding:0 10px;}
}
// ПОДКЛЮЧЕНИЕ SCSS ФАЙЛОВ =====================================================================

@import "header.scss";
@import "footer.scss";

// INDEX.HTML ==================================================================================


